body{
   background-size: cover;
   color: white;
}
h2{
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    font-weight: bold;
}
h2:hover{
    color: darkred;
    font-weight: bolder;
    
}
.note:hover{
    color:yellow;
    box-shadow: 10px 10px 10px darkblue;
}

h3{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}
h3:hover{
    color: darkgreen;
}

canvas{
    border: 10px solid black;
    border-radius: 25px;
    margin-left: 50px;
}